/***************
LAYOUT
***************/

body {
  background-color: rgb(17, 20, 29);
  background-image: url("../mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: overlay;
}

.container {
  width: 80%;
  max-width: 327px;
  margin: 0 auto;
}

.header {
  padding-top: 2em;
}

.header-logo {
  margin: 2em auto 5em;
  display: block;
}

.main {
  text-align: center;
  width: 327px;
  padding-bottom: 3em;
}

.main-text {
  line-height: 1.75;
}

.podcast-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  text-align: center;
  padding: 0;
  margin-bottom: 3em;
  
}

.podcast-list-item {
  margin: .5em;
}

.spotify-podcast {
  width: 90%;
}

.apple-podcast {
  width: 90%;
}

.google-podcast {
  width: 90%;
}

.pocket-casts-podcast {
  width: 90%;
}

.input-shape {
  display: block;
  border-radius: 3em;
  padding: 1em 3em;
  width: 100%;
  border: none;
}

.form-email {
  margin-bottom: 1em;
  background-color: #2c344b;
  color: #ffffff;
}

.form-SubmitBtn {
  background-color: #54e6af;
  margin-bottom: .25em;
  cursor: pointer;
}

.form-SubmitBtn:hover,
.form-SubmitBtn:focus {
  background-color: #b3ffe2;
}

.form-error {
  display: none;
  font-weight: 700;
  text-align: center;
  font-size: .75em;
  color: #ff0000;
}

.form-error.show-msg {
  display: block;
}

.footer-dots {
  display: none;
}
